{% extends "./../blocks/layout.html" %}

{% block container %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
              RSS 廠商管理列表介面
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> RSS 廠商</a></li>
                <li class="active">RSS 廠商管理列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">RSS 廠商列表</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive">
                                <table id="main-list" class="table table-bordered table-hover">
                                    <thead>
                                        <th>編號</th>
                                        <th>狀態</th>
                                        <th>建立時間</th>
                                        <th>名稱</th>
                                        <th>語系</th>
                                        <th>頻道ID</th>
                                        <th>版型</th>
                                        <th>RSS連結</th>
                                        <th>編輯</th>
                                        <th>刪除</th>
                                    </thead>
                                    <tbody>
                                        {% for rss in rssList %}
                                            <tr>
                                                <td>{{ rss.sn }}</td>
                                                <td class="{{ 'danger' if rss.isExpired else 'success' }}">{{ rss.dateRange }}</td>
                                                <td>{{ rss.createdAt }}</td>
                                                <td>{{ rss.name }}</td>
                                                <td>
                                                    {% if rss.simplifiedChinese %}
                                                        簡
                                                    {% else %}
                                                        繁
                                                    {% endif %}
                                                </td>
                                                <td>{{ rss.channelId }}</td>
                                                <td>{{ rss.template }}</td>
                                                <td>
                                                    <a target="_blank" href="/rss/{{ rss.channelId }}">RSS端點</a>
                                                </td>
                                                <td>
                                                    <a href="/admin/rss/update/{{ rss.sn }}" class="btn btn-flat btn-primary">
                                                        <i class="fa fa-edit"></i> 編輯
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-flat btn-danger remove-btn" item-sn="{{ rss.sn }}" page-route="/admin/rss/delete/{{ rss.sn }}">
                                                        <i class="fa fa-trash"></i> 刪除
                                                      </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    <a href='/admin/rss/create' class="btn btn-primary btn-sn">
                                        <i class="fa fa-plus"></i> 新增
                                    </a>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}
{% block jsBlock %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function() {
            $('#main-list').DataTable({
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: true,
                language: {
                    search: '搜尋: ',
                    zeroRecords: '搜尋不到任何項目 :(',
                    infoEmpty: '沒有任何項目',
                    infoFiltered: '( 搜尋 _MAX_ 條項目 )',
                    info: "顯示 _START_ 至 _END_ 項，總數為 _TOTAL_ 項",
                    sLengthMenu: "顯示 _MENU_ 筆",
                    paginate: {
                        previous: '上一頁',
                        next: '下一頁',
                        last: '最後一頁',
                        first: '第一頁'
                    }
                }
            });
        });
    </script>
{% endblock %}
