{% extends "./../blocks/layout.html" %}

{% block container %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
              {{ formData.title }}介面
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 會員管理</a></li>
                <li class="active">{{ formData.title }}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ formData.title }}</h3>
                        </div>

                        {% include "../blocks/default-form.html" %}

                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block jsBlock %}{% endblock %}
