.datoutie-img {
    width: 32px;
    height: 32px;
    background-color: #edf9fd;
    position: relative;
    font-size: 15px;
}
.datoutie-name {
    color: #27b6e8;
    left: 50%;
    position: absolute;
    top: 54%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
}
