{# if count.userAgent.isAuthoritative #}
{#	{{ count.userAgent.isAuthoritative }} <br>#}
{# endif #}
{% if count.userAgent.isMobile %}
	使用手機 <br>
{% endif %}
{% if count.userAgent.isTablet %}
	使用平板 <br>
{% endif %}
{% if count.userAgent.isiPad %}
	使用 iPad <br>
{% endif %}
{% if count.userAgent.isiPod %}
	使用 iPod <br>
{% endif %}
{% if count.userAgent.isiPhone %}
	使用 iPhone <br>
{% endif %}
{% if count.userAgent.isAndroid %}
	使用 Android <br>
{% endif %}
{% if count.userAgent.isBlackberry %}
	使用 Blackberry <br>
{% endif %}
{% if count.userAgent.isOpera %}
	使用 Opera <br>
{% endif %}
{% if count.userAgent.isIE %}
	使用 IE <br>
{% endif %}
{% if count.userAgent.isEdge %}
	使用 Edge <br>
{% endif %}
{% if count.userAgent.isIECompatibilityMode %}
	使用 IECompatibilityMode <br>
{% endif %}
{% if count.userAgent.isSafari %}
	使用 Safari <br>
{% endif %}
{% if count.userAgent.isFirefox %}
	使用 Firefox <br>
{% endif %}
{% if count.userAgent.isWebkit %}
	使用 Webkit <br>
{% endif %}
{% if count.userAgent.isChrome %}
	使用 Chrome <br>
{% endif %}
{% if count.userAgent.isKonqueror %}
	使用 Konqueror <br>
{% endif %}
{% if count.userAgent.isOmniWeb %}
	使用 OmniWeb <br>
{% endif %}
{% if count.userAgent.isSeaMonkey %}
	使用 SeaMonkey <br>
{% endif %}
{% if count.userAgent.isFlock %}
	使用 Flock <br>
{% endif %}
{% if count.userAgent.isAmaya %}
	使用 Amaya <br>
{% endif %}
{% if count.userAgent.isPhantomJS %}
	使用 PhantomJS <br>
{% endif %}
{% if count.userAgent.isEpiphany %}
	使用 Epiphany <br>
{% endif %}
{% if count.userAgent.isDesktop %}
	使用 Desktop <br>
{% endif %}
{% if count.userAgent.isWindows %}
	使用 Windows <br>
{% endif %}
{% if count.userAgent.isLinux %}
	使用 Linux <br>
{% endif %}
{% if count.userAgent.isLinux64 %}
	使用 Linux64 <br>
{% endif %}
{% if count.userAgent.isMac %}
	使用 Mac <br>
{% endif %}
{% if count.userAgent.isChromeOS %}
	使用 ChromeOS <br>
{% endif %}
{% if count.userAgent.isBada %}
	使用 Bada <br>
{% endif %}
{% if count.userAgent.isSamsung %}
	使用 Samsung <br>
{% endif %}
{% if count.userAgent.isRaspberry %}
	使用 Raspberry <br>
{% endif %}
{% if count.userAgent.isBot %}
	使用 Bot <br>
{% endif %}
{% if count.userAgent.isCurl %}
	使用 Curl <br>
{% endif %}
{% if count.userAgent.isAndroidTablet %}
	使用 Android 平板 <br>
{% endif %}
{% if count.userAgent.isWinJs %}
	使用 WinJs <br>
{% endif %}
{% if count.userAgent.isKindleFire %}
	使用 KindleFire <br>
{% endif %}
{% if count.userAgent.isSilk %}
	使用 Silk <br>
{% endif %}
{% if count.userAgent.isCaptive %}
	使用 Captive <br>
{% endif %}
{% if count.userAgent.isSmartTV %}
	使用 SmartTV <br>
{% endif %}
{% if count.userAgent.isUC %}
	使用 UC <br>
{% endif %}
{% if count.userAgent.silkAccelerated %}
	{{ count.userAgent.silkAccelerated }} <br>
{% endif %}
{% if count.userAgent.browser %}
	瀏覽器: {{ count.userAgent.browser }} <br>
{% endif %}
{% if count.userAgent.version %}
	瀏覽器版本: {{ count.userAgent.version }} <br>
{% endif %}
{% if count.userAgent.os %}
	電腦的版本: {{ count.userAgent.os }} <br>
{% endif %}
{% if count.userAgent.platform %}
	電腦: {{ count.userAgent.platform }} <br>
{% endif %}
{# if count.userAgent.geoIp #}
{#	{{ count.userAgent.geoIp }} <br>#}
{#endif#}
