{% extends "./../blocks/layout.html" %}

{% block container %}
    <style>
        .content > .row > div {
            height: 205px;
        }
    </style>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
              RSS 統計管理列表介面
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> RSS 統計</a></li>
                <li class="active">RSS 統計管理列表</li>
            </ol>
        </section>

        <section class="content">
            {% include "./block.top.html" %}

            {% for key, channel in channels %}
                {% if loop.index % 4 == 1 %}
                    <div class="row">
                {% endif %}
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box {{ 'bg-gray' if channel.count == 0 else 'bg-green'}}">
                            <div class="inner">
                                <h3>{{ channel.count }}<sup style="font-size: 20px">筆</sup></h3>
                                <h4>{{ channel.name }}</h4>
                                <strong>{{ key }}</strong>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="/admin/count/{{ key }}?time={{ time }}" class="small-box-footer">更多資料 <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% if loop.index % 4 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block jsBlock %}

{% endblock %}
